{% extends 'layoutAdmin.html.twig' %}

{% block body %}
   
                        <div class="job-bx job-profile bg-white">
                           

                             <div class="job-bx-title clearfix  border-dark">
                                <h5 class="font-weight-700 float-start text-success border-dark"><a href="{{path('dashboard_management')}}" ><i class="far fa-arrow-alt-circle-left " ></a></i> Ajouter utilisateur
                                </h5>
                                
                            </div>
                                      {% for message in app.flashes('success') %}
            <div class="text-center text-dark alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
                {% for message in app.flashes('error') %}
            <div class="text-center text-dark alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
                         
                            {{form_start(form,{attr:{ class:'needs-validation',novalidate:''} } )}}
                                    <div class="row gap-20">

                           <div class="col-lg-6 col-md-6">

                                        <div class="form-group">
                                            <div class="fs-0" >Nom</div>
                                         {{ form_widget(form.lname,{attr: {class: 'bg-200 form-control',required:'true' ,maxlength:'20'}}) }} 
                                        </div>

                                    </div>

                                    <div class="col-lg-6 col-md-6">

                                        <div class="form-group">
                                            <div class="fs-0" >Prénom</div>
                                              {{ form_widget(form.fname,{attr: {class: 'form-control bg-200',required:'true' ,maxlength:'20'}}) }} 
                                        </div>

                                    </div>
                                       <div class="col-lg-6 col-md-6">

                                        <div class="form-group">
                                            <div class="fs-0" >Email</div>
                                         {{ form_widget(form.mail,{attr: {class: 'bg-200 form-control',placeholder:'Adresse électronique','pattern': '[A-Z-a-z0-9.]+@[a-z0-9.-]+\.[a-z]{2,30}$' ,maxlength:'40' }}) }} 
                                        </div>

                                    </div>

                                    <div class="col-lg-6 col-md-6">

                                        <div class="form-group">
                                            <div class="fs-0" >Mot de passe</div>
                                              {{ form_widget(form.newpassword,{attr: {class: 'form-control bg-200 ',pattern:'.{8,20}',placeholder:'Mot de passe : Min 8 et Max 20 caractères',required:'true',maxlength:'20' }}) }} 
                                        </div>

                                    </div>

                           
                                        </div>
                                         <div class="m-t20">
                                            <button   class="btn btn-success " >Ajouter utilisateur</button></div>

                            {{form_end(form)}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

 













      
                     
         
{% endblock %}