{% extends 'layout.html.twig' %}
{% block body %}

<div class="header-w " > </div>

{% for job in job %}
 <div class="dez-bnr-inr overlay-black-dark" style="background-image:url({{asset('images/coverr.png')}}); height:150px ">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                  <h3 class="font-weight-bold  display-5 text-center T-breadcrumb mb-3" >  {{job.title}}</h3>
               <!-- Breadcrumb row -->
               <div class="breadcrumb-row">
               
               </div>
                   {% if job.today > job.expire   %}
                           <a type="button" class="btn btn-success  btn-lg disabled btn-hidden">Offre expiré</a>
                           {% else %}
                           {% if app.user %}
                           {% for role in app.user.roles %}
                           <a type="button" class="btn btn-success  btn-lg 
                           {% if role =='ROLE_Candidate' %}            
                           " href="{{path('apply',{'id':job.id,'idc':app.user.id})}}"
                           {% else %}
                           disabled btn-hidden"
                           {% endif %}  
                           {% endfor %}  
                           > Postuler maintenant</a> 
                           {% else %}
                           <a title="READ MORE" rel="bookmark" data-bs-toggle="modal" data-bs-target="#jobapply" class="btn btn-success  btn-lg"> Postuler maintenant </a>
                           {% endif %}
                           {% endif %}
                </div>
            </div>
        </div>

<div class="container">

   <div class="pxp-single-job-content mt-4 ">
      <div class="row">

         <div class=" col-lg-7 col-xl-8 col-xxl-9">
           
          




            {% for message in app.flashes('successApply') %}
             <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
   {{ message }}
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
             
           
            {% endfor %}
            {% for message in app.flashes('error') %}
              <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
   {{ message }}
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
             
             
            {% endfor %}
             <div class="row justify-content-between align-items-center">
               <div class="col-6">
               </div>
               <div class="col-auto">
                  <div class="pxp-single-job-date pxp-text-light">publié :{{ job.beginAt|date("d/m/Y") }}</div>
               </div>
            </div>
            <div class="card mb-3 border-1 ">
               <div class="card-body ">
                
                  <h4 class="text-dark">Description du poste  </h4>
                  <p class="text-dark"> {{ job.resp }}</p>
                  <hr>
                  <h4 class="text-dark">Profil recherché</h4>
                  <p class="text-dark">{{ job.req }}</p>
               </div>
            </div>
         </div>

              
         <div class="col-lg-5 col-xl-4 col-xxl-3 text-center">
            <div class="">
               <div>
                
                  <div class="card mb-3 border-1 m-t20">

                         
                     <div class="">
                    
                        <div class=" text-left-not-lg">
                     
                           </br>
                           <h5>Lieu de travail</h5>
                           <h5 class="text-primary"><i class=" fas fa-map-marker-alt"></i> {{  job.country|capitalize }},{{  job.city|capitalize }}</h5>
                           <div class="job-bx-title clearfix">
                           </div>
                           <h5>Experience</h5>
                           <h5 class="text-primary">{{ job.exp|capitalize}}</h5>
                           <div class="job-bx-title clearfix">
                           </div>
                           <h5>Type d'emploi</h6>
                           <h5 class="text-primary">{{ job.type|capitalize}}</h5>
                           <div class="job-bx-title clearfix">
                           </div>
                           <h5>Compétences</h5>
                           <div class="pxp-single-job-side-info-data"></div>
                           <div class="job-time   m-t15 m-b10">
                              {% for skill in job.skills %}    
                              <span class=" bg-500 rounded-pill tecos-h text-white">
                              {{ skill.title|capitalize}}
                              </span>
                              {% endfor %}
                           </div>
                          
                           <div class="job-bx-title clearfix">
                           </div>
                           <div class="">
                              <h5>Date limite </h5>
                              <h5 class="text-primary">{{ job.expireAt|date("d/m/Y")}}</h5>
                           </div>
                          
                    
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal" id="jobapply" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content position-relative border border-dark">
         <div class="offcanvas-header settings-panel-header bg-100 rounded-top"  >
            <div class="">
               <div class="">
                  <h4 class=" m-t10 me-2 text-dark"> Postuler maintenant</h4>
               </div>
             
            </div>
            <button class=" z-index-1  btn-close btn btn-sm btn-circle" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body card border-top border-dark">
            <div class="row gap-20">
               <div class="">



  
                  <div class=" tab-content ">


                     <div id="signup_apply" class="tab-pane active  col-12 p-a0 "  >

                        {{ form_start(form ,{attr: {class: 'needs-validation',novalidate:''}}) }}  
                        <div id="error3"></div>
                        <div class=" row gap-20 m-b20">
                           <div class="  ">
                              {{ form_widget(form.lname,{attr: {class: 'form-control m-t20 m-b20',placeholder:'Nom',maxlength:'30'}}) }}
                           </div>
                           <div class=" ">
                              {{ form_widget(form.fname,{attr: {class: 'form-control m-b20',placeholder:'Prénom',maxlength:'30'}}) }}
                           </div>
                           <div class=" ">
                              {{ form_widget(form.email, {'attr': {class:'form-control m-b20',placeholder:'Adresse électronique','pattern': '[A-Z-a-z0-9.]+@[A-2-a-z0-9.-]+\.[A-Z-a-z]{2,30}$'}}) }}
                           </div>
                           <div class=" m-b10">
                              {{ form_widget(form.newpassword,{attr: {class: 'form-control ',pattern:'.{8,20}',placeholder:'Mot de passe : Min 8 et Max 20 caractères',required:'true',maxlength:'20'}}) }} 
                           </div>
                           <div class="fs-0 text-dark">CV<span class="text-600">(Taille Max: 2 MB /PDF,DOCX,DOC)</span> </div>
                           <div class=" ">
                              {{ form_widget(form.cvfield,{attr: {class: 'form-control',id:'uploadfile'},required:true,id:'uploadfile'}) }} 
                           </div>
                        </div>
                        <div class="d-grid gap-2"><button class="btn btn-success" type="submit" name="Upload File" value="Upload File" id="upload_btl">Postuler</button></div>
                        {{ form_end(form) }}
                       <hr>
                        <div class="fs-0 m-t5 text-dark fw-bold text-center">Si vous avez déjà un compte,<span><a class="text-primary opacity-100"  href="{{path('app_login')}} " target="x_blank"  > identifiez-vous ici </a></span></div>
                     </div>
                 
                   
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>



{% endfor %}

{% endblock %}