		



 <div class="modal fade modal-bx-info editor" id="formation" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0">
      <div class="position-absolute top-0 end-0 mt-1 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center  bg-300 transition-base float-end" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body p-0">
        <div class="bg-light rounded-top-lg py-2 ps-4 pe-6">
          <h5  id="staticBackdropLabel">Ajouter formation</h5>
        
        </div>
        <div class="modal-body bg-200 border-top  ">
          <div class="row">
		   <div class=" tab-content ">
         	{{form_start(form_formation,{attr: {class: 'bg-200'}})}}
									
							   <div class="row gap-20">
									<div class="col-sm-12 col-md-12">
												
									
													
									</div>

						
						            <div class="col-sm-12 col-md-12">
				
							        <div class=" form-group"> 
								    <div class="fs-0">Institution/Université<b style="color:#990000">*</b></div>
								 {{ form_widget(form_formation.university,{attr: {class: 'form-control '}}) }}   </div>
						
						             </div>
						
						             <div class="col-sm-12 col-md-12">
						
							        <div class="form-group"> 
									  <div class="fs-0">Titre du cours/diplôme<b style="color:#990000">*</b></div>
								  
								  {{ form_widget(form_formation.diploma,{attr: {class: 'form-control '}}) }}  </div>
						
						           </div>
								   
								      	<div class=" col-sm-6 col-md-6">
						
							       

                                        <div class="fs-0">Date de debut<b style="color:#990000">*</b></div>
										{{ form_widget(form_formation.startdate,{attr: {class: 'col-lg-12'}}) }}
						           </div>
								   	<div class=" col-sm-6 col-md-6">
						              <div class="fs-0">Date de fin</div>
                                   {{ form_widget(form_formation.enddate,{attr: {class: 'col-lg-12'}}) }}
						
						           </div>
								   <ul></ul>
								   		
						
						          
								       <div class="form-group bootstrap3-wysihtml5-wrapper">
														<div class="fs-0">Description</div>
												{{ form_widget(form_formation.description,{attr: {class: 'form-control'},required:false}) }} 	</div>

	
						           </div>
								    <div class="">
								    <button type="submit" class="btn btn-success  float-start">Ajouter</button>
								      <button data-bs-dismiss="modal" aria-label="Close" class="btn btn-outline-success bg-white  float-end">retour</button>
								  </div> 	{{form_end(form_formation)}}
      
      
      
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
