	<!-- Modal -->
								<div class="text-center modal fade modal-bx-info editor" id="lang" tabindex="-1" role="dialog" aria-labelledby="DesiredprofileModalLongTitle" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content border-0">
											 <div class="position-absolute top-0 end-0 mt-1 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center  bg-300 transition-base float-end" data-bs-dismiss="modal" aria-label="Close"></button></div>
       <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
          <h4 class="mb-3 text-center" id="staticBackdropLabel"></h4>
        
        </div>
											<div class="modal-body bg-200 text-center">
									{{form_start(form_language)}}			
								  <div class="row gap-20">
						            <div class="col-sm-12 col-md-12">
				
							    
											<div class="form-group">
												<div class="fs-0">Langue</div>
												 		  {{ form_widget(form_language.lname,{attr: {class: 'form-control text-center text-center text-primary '}}) }} 
							       
											</div>
										
						
						             </div>

						
						            <div class=" col-lg-4 col-sm-12 col-md-12">
				
							        <div  class="form-group"> 
								    <div class="fs-0">Parlé</div>
								   		  {{ form_widget(form_language.speak,{attr: {class: 'form-select '}}) }} 
							       
							        </div>
						
						             </div>
						
						            <div class="col-lg-4 col-sm-12 col-md-12">
				
							        <div class="form-group"> 
								    <div class="fs-0">Lu</div>
								  {{ form_widget(form_language.reading,{attr: {class: 'form-select'}}) }} 
							       
							        </div>
						
						             </div>

						            <div class="col-lg-4 col-sm-12 col-md-12">
				
							        <div class="form-group"> 
								    <div class="fs-0">Écrit</div>
								  {{ form_widget(form_language.writing,{attr: {class: 'form-select'}}) }} 
							       
							        </div>
						
						             </div>
									    
						
					               </div>
								   <button type="submit" class="btn btn-primary rounded-pill text-center">Ajouter langue</button>
				                   </div>
				
				                 
				               
								   {{form_end(form_language)}}	
											</div>
											
										</div>
									</div>
							
								<!-- Modal End -->