{% extends 'layout.html.twig' %}

{% block body %}

    <div class="header-w bg-white" > </div>
      <div class="page-wraper-glass">
         <div class=" page-content">
            <div class="content-block">
               <div class=" bg- browse-job p-t50 p-b20">
                  <div class="container">
                     <div class="row">
                        <div class="d-none d-lg-block col-xl-3 col-lg-4 m-b30 ">
                           <div class=" d-none d-lg-block sticky-top">
                              <div class="candidate-info  bg-white radius-md">
                                 <div class="candidate-detail text-center ">
                                    <a class="upload-link" href="{{path('candidate_profile',{'id':app.user.id})}}#avatar" title="update" data-bs-toggle="tooltip" data-placement="right">
                                       <div class="canditate-des" >
                                          <center><img class=" canditate-des-img" src="{{asset('images/users/' ~app.user.image)}}"  alt="image"  /></center>
                                       </div>
                                    </a>
                                    <div class="candidate-title">
                                       <div class="">
                                          <h4 class="m-b5">
                                             <a href="javascript:void(0);">
                                                <h4 class="mt-2 text-dark">{{app.user.fname}} {{app.user.lname}}</h4>
                                             </a>
                                          </h4>
                                        
                                       </div>
                                       <a class="btn btn-outline-primary rounded-pill btn-sm" href="{{ path('candidat_profil',{'id':app.user.id})}}">Voir profil</a>
                                    </div>
                                 </div>
                                 <div class="row navbar-vertical-label-wrapper " >
                                    <ul class="">
                                       <li>
                                          <a href="{{path('candidate_profile',{'id':app.user.id})}}" >
                                             <span>
                                                <h6 class="fs-0 "><i class=" far fa-user" aria-hidden="true"></i> Profil</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('my_resume',{'id':app.user.id})}}" class="active">
                                             <span>
                                                <h6 class="fs-0 text-white fw-bold"><i class="far fa-file-alt" aria-hidden="true"></i> Mon CV En Ligne</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('my_applications',{'id':app.user.id})}}">
                                             <span>
                                                <h6 class="fs-0"><i class="fa fa-briefcase " aria-hidden="true"></i> Mes candidatures</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('my_cv',{'id':app.user.id})}}">
                                             <span>
                                                <h6 class="fs-0"><i class="far fa-id-card" aria-hidden="true"></i> Gérer CV</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('candidate_password',{'id':app.user.id})}}">
                                             <span>
                                                <h6 class="fs-0"><i class="fa fa-cog" aria-hidden="true"></i> Paramètres</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{path('app_logout')}}">
                                             <span>
                                                <h6 class="fs-0"> <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Déconnexion</h6>
                                             </span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 m-b30">
                           <div class="job-bx job-profile  bg-white ">
                              <div class="job-bx-title clearfix">
                                 <h5 class="font-weight-700 float-start text-primary">Ma carrière</h5>
                              </div>
                                                 {% for message in app.flashes('success') %}
            <div class="text-center text-dark alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
           {% for message in app.flashes('warning') %}
            <div class="text-center text-dark alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}

       
                       <h3 class=" mb-0 text-dark">Compétences<span> <a href="{{path('Edit_Skills_Candidate',{'id':app.user.id })}}" class="btn btn-primary rounded-pill add-btn btn-sm"><i class="fas fa-pen fa-sm "></i></a></span></h3> 
                          <div class="float-end">
                       
                     </div>

                  
                              <div class="job-time m-t15 m-b10 ">
                       {% for skill in candidate.skill %}    
                              <span class="rounded-pill bg-primary tecos-h text-white">
                              {{ skill.title|capitalize}}
                              </span>
                              {% endfor %}
                  </div>
                   
                          
                              
                           
                              <div class=" GridLex-col-9_sm-8_xs-12">
                               
                                 <div class="job-bx-title clearfix"> 
                                 </div>
                              </div>
                              <h3 class="mb-0 text-dark">Formation</h3>
                              <ul></ul>
                              <a class="mb-4 d-block d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#formation" aria-expanded="false" aria-controls="experience-form1"><span class="circle-dashed"><i class="fas fa-plus" aria-hidden="true"></i></span><span class="ms-3">Ajouter une nouvelle formation</span></a>
                               {% include 'candidat/modals/FormationAdd.html.twig' %}
                              <div   class="GridLex-col-9_sm-8_xs-12">
                                 <div class="resume-list-wrapper">
                                    <div class="resume-list-item">
                                       <div class="row">
                                          <div class=" text-justify pxp-single-candidate-timeline">
                                              {% for formation in formations|reverse %}
                                             <div class="pxp-single-candidate-timeline-item">
                                              
                                                <div class="pxp-single-candidate-timeline-dot " ></div>
                                                <div class="pxp-single-candidate-timeline-info ms-3">
                                                   <div class="pxp-single-candidate-timeline-time text-dark"><span class="bg-200  rounded-4 m-b0">{% if formation.enddate==null %}Présent{% else %}{{formation.enddate|date("d/m/y")}}{% endif %} {{formation.startdate|date("d/m/y")}} </span>  <a href="{{path('formation_edit',{'idc':app.user.id ,'id':formation.id})}}"  class="btn btn-outline-primary add-btn btn-sm"><i class="fas fa-pencil-alt m-r4"></i> </a>
                                                      <a href="{{path('formation_delete',{'idc':app.user.id ,'id':formation.id})}}" onclick = "return confirm('Voulez-vous vraiment supprimer cette formation ?')" class=" btn btn-outline-danger add-btn btn-sm"><i class="fas fa-trash"></i></a>
                                                   </div>
                                                   <div class="pxp-single-candidate-timeline-position text-primary fw-bold">{{formation.diploma|capitalize}}</div>
                                                   <div class="pxp-single-candidate-timeline-company pxp-text-light">{{formation.university|capitalize}}</div>
                                                   <p class="text-dark pb-4">{{formation.description|capitalize}}</p>
                                              
                                                </div>
                                                 
                                             </div>

 {% endfor %}
                                          </div>
                                         
                                          <div class="col-sm-12 col-md-2">
                                             <div class="resume-list-btn">
                                                <div id="edit" class="modal fade login-box-wrapper" tabindex="-1" data-width="550" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="pager-wrapper">
                                       <ul class="pager-list">
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="job-bx-title clearfix">
                                 </div>
                                 <h3 class="mb-0 text-dark">Expérience professionnelle</h3>
                                 <ul></ul>
                                 <a class="mb-4 d-block d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#worksample"  aria-expanded="false" aria-controls="experience-form1"><span class="circle-dashed"><i class="fas fa-plus"></i></span><span class="ms-3">Ajouter une nouvelle expérience</span></a>
                                  {% include 'candidat/modals/ExperienceAdd.html.twig' %}
                                 <!-- Modal -->
                                 <div id="ex" class="GridLex-col-9_sm-8_xs-12">
                                    <div class="resume-list-wrapper">
                                       <div class="resume-list-item">
                                          <div class="row">
                                             <div class="text-justify pxp-single-candidate-timeline">
                                                 {% for work in works|reverse %}
                                                <div class="pxp-single-candidate-timeline-item">
                                                   <div class="pxp-single-candidate-timeline-dot" ></div>
                                                   <div class="pxp-single-candidate-timeline-info ms-3">
                                                      <div class="pxp-single-candidate-timeline-time text-dark  "><span class=" bg-200  rounded-4 m-b0">{% if work.enddate==null %}Présent{% else %}{{work.enddate|date("d/m/y")}}{% endif %}  {{work.startdate|date("d/m/y")}} </span>   <a href="{{path('Experience_edit',{'idc':app.user.id ,'id':work.id})}}"  class="btn btn-outline-primary add-btn btn-sm"><i class="fas fa-pencil-alt m-r4"></i> </a>
                                                         <a href="{{path('work_delete',{'idc':app.user.id ,'id':work.id})}}" onclick = "Voulez-vous vraiment supprimer cette expérience ??')" class="btn btn-outline-danger  add-btn btn-sm"><i class="fas fa-trash-alt m-r4"></i></a>
                                                      </div>
                                                      <div class="pxp-single-candidate-timeline-position text-primary fw-bold">{{work.title|capitalize}}</div>
                                                      <div class="pxp-single-candidate-timeline-company pxp-text-light">{{work.company|capitalize}}</div>
                                                      <p class="text-dark pb-4">{{work.duties|capitalize}}</p>
                                                   </div>
                                                </div>
                                                 {% endfor %}
                                             </div>
                                             <div class="col-sm-12 col-md-2">
                                                <div class="resume-list-btn">
                                                   <div id="edit" class="modal fade login-box-wrapper" tabindex="-1" data-width="550" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="pager-wrapper">
                                          <ul class="pager-list">
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="job-bx-title clearfix">
                                 </div>
                                 <h3 class="mb-0 text-dark">Certificats</h3>
                                 <ul></ul>
                                 <a class="mb-4 d-block d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#certification" aria-expanded="false" aria-controls="experience-form1"><span class="circle-dashed"><i class="fas fa-plus"></i></span><span class="ms-3">Ajouter nouvelle certificat</span></a>
                                 <!-- Modal -->
                                    {% include 'candidat/modals/CertificateAdd.html.twig' %}

                                 <div class="GridLex-col-9_sm-8_xs-12">
                                    <div class="resume-list-wrapper">
                                       <div class="resume-list-item">
                                          <div class="row">
                                             <div class="text-justify pxp-single-candidate-timeline">
                                                {% for certificate in certificates|reverse %}
                                                <div class="pxp-single-candidate-timeline-item">
                                                   <div class="pxp-single-candidate-timeline-dot" ></div>
                                                   <div class="pxp-single-candidate-timeline-info ms-3">
                                                      <div class="pxp-single-candidate-timeline-time text-dark">
                                                         <span class="bg-200  rounded-4 m-b0">{% if certificate.enddate==null %}{% else %}{{certificate.enddate|date("d/m/y")}}{% endif %}  {{certificate.startdate|date("d/m/y")}} </span>
                                                         <div class="pxp-single-candidate-timeline-position mt-2"> <a data-bs-toggle="modal" data-bs-target="#modal{{certificate.id}}" class="text-primary fw-bold tecos-h " >{{certificate.title|capitalize}}</a>  <a href="{{path('certif_delete',{'idc':app.user.id ,'id':certificate.id})}}" onclick = "return confirm('Voulez-vous vraiment supprimer cette certification ?')" class="btn btn-outline-danger  add-btn btn-sm"><i class="fas fa-trash-alt m-r4"></i></a></div>
                                                      </div>
                                                   </div>
                                                </div>
                                                 <div class="modal fade" id="modal{{certificate.id}}" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6" role="document">
    <div class="modal-content border-0">
      <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base float-end" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body p-0">
        <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
          <h4 class="mb-1 text-center" id="staticBackdropLabel">{{certificate.title|capitalize}}</h4>
        
        </div>
        <div class="">
          <div class="row">
          <iframe src="{{asset('cerificates/' ~certificate.attachment)}}"
 
                
                height="500">
        </iframe>
      
      
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                                                {% endfor %}
                                             </div>
                                          </div>
                                       </div>
                                       <div class="pager-wrapper">
                                          <ul class="pager-list">
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="job-bx-title clearfix">
                                 </div>
                                 <h3 class="mb-0 text-dark">Langues</h3>
                                 <ul></ul>
                                 <a class="mb-4 d-block d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#lang"  aria-expanded="false" aria-controls="experience-form1"><span class="circle-dashed"><i class="fas fa-plus" ></i></span><span class="ms-3">Ajouter nouvelle langue</span></a>  
                                  {% include 'candidat/modals/LanguageAdd.html.twig' %}
                                 <div id="Language" class="GridLex-col-9_sm-8_xs-12">
                                    {% for language in languages|reverse %}
                                    <div class="resume-list-item">
                                       <div class="row">
                                          <div class="col-sm-12 col-md-10">
                                             <div class="">
                                                <a >
                                                   <h5>{{language.lname|capitalize}}</h5>
                                                   <div class="row">
                                                      <div class="col-sm-12 col-md-12">
                                                         <i class="fa fa-user mr-5"></i> Parlé - <strong class="mr-10">{{language.speak}}</strong> <i class="fa fa-book mr-5"></i>    Lu - <strong class="mr-10">{{language.reading}}</strong> <i class="fas fa-pencil-alt m-r4 "></i>   Écrit - <strong class="mr-10">{{language.writing}}</strong>
                                                      </div>
                                                   </div>
                                                </a>

                                        {% if language.reading =='Débutant'   %} 
                                           {%  set a='10'   %}
                                        {% else %}
                                        {%  set a='0' %}
                                        {% endif %}

                                         {% if  language.speak =='Débutant'  %}
                                        {%  set b='10'   %}
                                        {% else %}
                                        {%  set b='0' %}
                                        {% endif %}

                                         {% if language.writing =='Débutant'  %}
                                        {%  set c='10'   %}
                                        {% else %}
                                        {%  set c='0' %}
                                        {% endif %}               
                                    {% if language.reading =='Intermédiaire'   %}
                                        {%  set d='20'   %}
                                        {% else %}
                                        {%  set d='0' %}
                                        {% endif %}

                                         {% if  language.speak =='Intermédiaire'  %}
                                        {%  set e='20'   %}
                                        {% else %}
                                        {%  set e='0' %}
                                        {% endif %}

                                         {% if language.writing =='Intermédiaire'  %}
                                        {%  set f='20'   %}
                                        {% else %}
                                        {%  set f='0' %}
                                        {% endif %}

                                      {% if language.reading =='Avancé'   %}
                                        {%  set j='30'   %}
                                        {% else %}
                                        {%  set j='0' %}
                                        {% endif %}

                                         {% if  language.speak =='Avancé'  %}
                                        {%  set k='30'   %}
                                        {% else %}
                                        {%  set k='0' %}
                                        {% endif %}

                                         {% if language.writing =='Avancé'  %}
                                        {%  set h='30'   %}
                                        {% else %}
                                        {%  set h='0' %}
                                        {% endif %}









                                        {%  set progress=a+b+c+d+e+f+j+k+h %}
                                       
                                                <div class="progress">
                                                   <div class="progress-bar bg-primary"  style="width: {{progress}}%"
                                                      role="progressbar"></div>
                                                </div>
                                             </div>
                                             <ul></ul>
                                          </div>
                                          <div class="col-sm-12 col-md-2">
                                             <div class="resume-list-btn">
                                                <h5 class="m-b15"></h5>
                                                <a href="{{path('Language_edit',{'idc':app.user.id ,'id':language.id})}}"  class="btn btn-outline-primary add-btn btn-sm"><i class="fas fa-pencil-alt m-r4"></i> </a>
                                                <a href="{{path('language_delete',{'idc':app.user.id ,'id':language.id})}}" onclick = "return confirm('Voulez-vous vraiment supprimer cette langue ?')" class="btn btn-outline-danger  add-btn btn-sm"><i class="fas fa-trash-alt m-r4"></i></a>
                                                <div id="edit" class="modal fade login-box-wrapper" tabindex="-1" data-width="550" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    {% endfor %}
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class=" job-bx-title clearfix">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     
















            
               
                     
                     

                           
                     
                    
{% endblock %}