
 
{% block body %}
 
      
  

                   
                        {{ form_start(form ,{attr: {class: 'fixed-top border-2 border rounded-3 border-dark'}}) }}
                           
                               
                         
  
 
<div class="row  border-1 border-dark bg-200 rounded-3 ">
     
 <div class="col-lg-5 col-md-6 d-none">


                                      
                                            <div class="fs-0" >Nom:</div>
                                             {{ form_widget(form.s,{attr: {class: 'form-control'}}) }}
  
                                        
                                        

                                    </div>
                                     <div class="col-lg-5 col-md-6 d-none ">

                                        <div class="">
                                            <div class="fs-0" >Email:</div>
                                             {{ form_widget(form.mail,{attr: {class: 'form-control'}}) }}
                                        </div>
                                     

                                    </div>
                                       <div class="col-lg-3">
                                     <div class="fs-0" >Offre:</div>
                                     <div class="card">
                                              {{ form_widget(form.Jobs,{attr: {class: 'multiselect-dropdown  '}}) }} </div>


                                  
                                </div>
                                      <div class="col-lg-3 ">
                                       

                                        
                                            <div class="fs-0" >Expérience:</div>
                                             <div class="card">
                                          {{ form_widget(form.Experience,{attr: {class: ' multiselect-dropdown' }}) }}
                                      </div>
                                       

                                   
                                
                            </div>
                                     <div class="col-lg-3  ">
                                            <div class="m-b10">
                                 
                                         <div class="fs-0" >Pays</div>
                                          <div class="card">
                                          {{ form_row(form.Country,{attr: {class: 'multiselect-dropdown'}}) }}
                                      </div></div>
                                          
                                      

                                  
                                </div>
                                   
                                        <div class="col-lg-3 ">
                                            <div class="m-b10">
                                 
                                         <div class="fs-0" >Statut</div>
										    {{ form_widget(form.status,{attr: {class: 'form-select ' }}) }}
                                       
                                    </div>
                                          
                                      

                                  
                                </div>
                                      
                             
                                 
                                     <div class="col-lg-10 m-b10">
                                     <div class="m-1b0" >

                                    
                                            <div class="fs-0" >Compétences:</div>
                                          <div class="card">
                                          {{ form_row(form.Skills,{attr: {class: 'multiselect-dropdown'}}) }}
                                      </div>
                                       </div>
                                    </div>
									
                                 <div class="col-lg-2 ">
                                            <div class="m-t20 " style="padding-top: 3px;">
                                 
                                       
                                          <div class="card">
                                     <button class="btn btn-success" type="submit">Rechercher</button>
                                      </div></div>
                                          
                                      

                                  
                                </div>



                                     

                                </div>
                                {{ form_end(form) }}
                      

              
              


             
{% endblock %}