
 
{% block body %}
 
      
        <script>
            
    
        $(document).ready( function () {
            $('#example')
            

                .dataTable( {
                    responsive: true,
                
                } );
        } );
    
    
        </script>

            
  
        

                      


                                <div id="" class="dataTables_wrapper dt-bootstrap5 "><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row "><div class="col-sm-12 table-responsive scrollbar"><table id="example" class=" dataTable dtr-inline border border-dark border-3  rounded-3 text-dark bg-200" style="width: 100%;" aria-describedby="example_info"><thead>
    <tr >
<th class="sorting sorting_asc text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 5px;" aria-label="Name: activate to sort column descending" aria-sort="ascending"></th>
    <th class="sorting sorting_asc text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 350px;" aria-label="Name: activate to sort column descending" aria-sort="ascending">Candidat</th>
    <th class="sorting sorting_asc text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" aria-sort="ascending">Age</th>
     <th class="sorting sorting_asc text-dark d-none" tabindex="0" aria-controls="example" rowspan="1" colspan="1"  aria-label="Name: activate to sort column descending" aria-sort="ascending">email</th>
    <th class="sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 250px;" aria-label="Position: activate to sort column ascending">Titre</th>
   
      <th class="sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >Expérience</th>
    <th class="sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Office: activate to sort column ascending">Pays</th>
    <th class="dt-body-right sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 20px;" aria-label="Age: activate to sort column ascending">Candidatures</th>
     <th class="dt-body-right sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 20px;" aria-label="Age: activate to sort column ascending">Date</th>
     <th class="dt-body-right sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 0px;" aria-label="ed: activate to sort column ascending">cv</th>
    <th class="dt-body-right sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 0px;" aria-label="ed: activate to sort column ascending">Statut</th>

    </tr></thead><tbody>



 {% for candidate in candidates %}
    <tr class="even ">

 <td class="border border-1 border-300 text-center">

     {% if candidate.seen==1 %}
    <span class="badge badge rounded-pill badge-soft-success">Lu</span></td>
    {% else %}
   <span class="badge badge rounded-pill badge-soft-warning">Non Lu</span></td>
   {% endif %}

    <td class="dtr-control sorting_1 border border-1 border-300 " tabindex="0">     <div class="d-flex align-items-center">
                              <div class="avatar avatar-xl">
                                <img class="pxp-single-candidate-hero-avatar border-2 border-success rounded-pill" src="{{asset('images/users/' ~candidate.image)}}" alt="">
                              </div>
                              <div class="ms-2 "><a class="text-dark"href="{{path('candidatProfile',{'id':candidate.id})}}" target="_blank"><h6>{{candidate.fname|capitalize}} {{candidate.lname|capitalize}}</h6></a></div>
                            </div></td>


                             
     <td class="border border-1 border-300 text-center"><h6> {% if candidate.bdate !='' %}{% if (("now"|date("m")) == candidate.bdate|date("m") or ("now"|date("m")) < candidate.bdate|date("m")) and ("now"|date("d")) == candidate.bdate|date("d") or ("now"|date("d")) < candidate.bdate|date("d")  %} {% set x = 0 %} {% else %}  {% set x = 1 %}{% endif %}
        {{ ("now"|date("Y")) - candidate.bdate|date("Y") - x }}  {% endif %} </h6></td>
    <td class="border border-1 border-300 d-none">{{candidate.email}}</td>
    <td class="border border-1 border-300 text-center"><h6>{{candidate.titre|capitalize}}</h6></td>


    

    <td class="border border-1 border-300 text-center"><h6>{{candidate.experience|capitalize}}</h6></td>
    <td class="border border-1 border-300 text-center"><h6>{{candidate.country|capitalize}}</h6></td>




    <td class="text-center border border-1 border-300">   <div class="pxp-candiadates-card-1-title">  <a  data-bs-toggle="modal" data-bs-target="#candidate{{candidate.id}}" class="text-primary"><i ></i> ({{candidate.applications|length}})</a></div>
           <div class="modal" id="candidate{{candidate.id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content position-relative border border-dark">
                <div class="d-flex flex-row-reverse">
                    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row ">
                      
                            <div class=" tab-content ">
                                    <h4 class=" font-weight-700 text-center">Candidatures  
                                     ({{candidate.applications|length}})</h4>
                                    <hr>
                                  
                                  
                                    {% for applications in candidate.applications|reverse|slice(0, 5) %}
                                           
                                           <table class="table table-dashboard mb-0 table-borderless fs--1 border-200">
                                    <thead class="bg-light">
                                    </thead>
                                    <tbody>
                                       <tr class="border-bottom border-400">
                                          <td>
                                             <div class="d-flex align-items-center position-relative">
                                               {% if applications.job !=null %} 
                                                <div class="posted-info clearfix  ">
                                                   <div class="m-tb0  float-start "><span  class=" text-dark  ">Nouvelle candidature pour:</span><a
                                                   class="" href="{{path('offre_get',{'slug':applications.job.slug,'id':applications.job.id})}}" > {{applications.job.title|capitalize}} </a></div>
                                                </div>
                                                {% else %}
                                                 <div class="posted-info clearfix  ">
                                                   <p class="m-tb0  float-start  "><span class=" text-dark  ">Nouvelle </span><span class="text-primary">candidature spontanée </span><a href=""></p>
                                                </div>
                                                {% endif %}

                                             </div>
                                             <div class="m-tb0 float-start text-secondary  ">{{applications.appdate|date("d/m/Y g:ia")}}</div>
                                          </td>
                                       </tr>

                                    </tbody>

                                 </table>
                             
                                 </a></p>
                                 
                                                    {% endfor %}
                                                </div>
                                    <div class=" row gap-20 text-center">
                                   {% if candidate.applications|length >5 %}
                                    <a class=" btn btn-outline-primary" href="{{path('applications',{'id':candidate.id})}}"
                                    >Voir Plus >></a> 
                                    {% endif %}
                            </div>
                        </div>
                     
                   
                </div>
                 </div>
                  </div>
                   </div>
                    </div>
</td>

 <td class="border border-1 border-300 text-center"><h6>  {% for applications in candidate.applications|reverse|slice(0, 1) %}{{applications.appdate|date("d/m/Y")}} {% endfor %}</h6></td>

 
    <td class="border border-1 border-300 text-center">
        {% if candidate.cv is not empty %}<a class="text-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal{{candidate.id}}"><i class="fas fa-file"></i> </a> {% endif %}</td>
   {% if candidate.cv is not empty %}
    {% for modal in candidate.cv|reverse %}
     <div class="modal fade" id="modal{{candidate.id}}" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6" role="document">
    <div class="modal-content border-0">
      <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base float-end" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body p-0">
        <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
          <h5 class="mb-1" id="staticBackdropLabel">Cv de {{candidate.fname|capitalize}}</h5>
        
        </div>
        <div class="">
          <div class="row">
          <iframe  src="{{asset('cv/' ~modal.cv)}}"
 
                
                height="500">
        </iframe>
      
      
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} 
{% endif %}
 <td class="border border-1 border-300 text-center">

{% for application in candidate.applications|slice(0,1) %}

  {% if application.status=='Traité' %}
    <span class="badge badge rounded-pill badge-soft-success">{{application.status}} <i class="fa fa-check"></i></span>
  {% elseif application.status=='En cours de Traitement' %}
  <span class="badge badge rounded-pill badge-soft-primary">En cours <i class="fa fa-spinner"></i><h6 class="badge-soft-primary">de Traitement</h6></span>
    {% else %}

     <span class="badge badge rounded-pill badge-soft-warning">Non Traité <i class="fa fa-false"></i></span>
    
    {% endif %}
    {% endfor %}



 </td>
   



    

{% endfor %}









</tfoot></table></div></div>
                   
              



           
{% endblock %}