
 
{% block body %}
 
      
        <script>
            
    
        $(document).ready( function () {
            $('#example')
            

                .dataTable( {
                    responsive: true,
                
                } );
        } );
    
    
        </script>

                     
                 
                  
                      


                                <div id="" class="dataTables_wrapper dt-bootstrap5 "><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row "><div class="col-sm-12"><table id="example" class="display nowrap dataTable dtr-inline border border-400 border-2 rounded-3 bg-200 text-dark" style="width: 100%;" aria-describedby="example_info"><thead>
    <tr >
<th class="sorting sorting_asc text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 5px;" aria-label="Name: activate to sort column descending" aria-sort="ascending"></th>
    <th class="sorting sorting_asc text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 150px;" aria-label="Name: activate to sort column descending" aria-sort="ascending">Candidat</th>
     <th class="sorting sorting_asc text-dark d-none" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 150px;" aria-label="Name: activate to sort column descending" aria-sort="ascending">email</th>

    <th class="sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 20px;">CV</th>

  
     <th class="dt-body-right sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 20px;" aria-label="Age: activate to sort column ascending">Date de candidature</th>
    <th class="dt-body-right sorting text-dark text-center" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 0px;" aria-label="ed: activate to sort column ascending">Statut</th>
    </tr></thead><tbody>



 {% for candidate in candidates %}
    <tr class="even ">

 <td class="border border-2 border-300 text-center">

     {% if candidate.seen==1 %}
    <span class="badge badge rounded-pill badge-soft-success">Lu</span></td>
    {% else %}
   <span class="badge badge rounded-pill badge-soft-warning">Non Lu</span></td>
   {% endif %}

    <td class="dtr-control sorting_1 border border-2 border-300 " tabindex="0"> <div class="d-flex align-items-center">
                              <div class="avatar avatar-xl">
                                <img class="pxp-single-candidate-hero-avatar border-2 border-primary rounded-pill" src="{{asset('images/users/' ~candidate.image)}}" alt="">
                              </div>
                              <div class="ms-2 "><a class="text-dark fw-bold"href="{{path('candidatProfile',{'id':candidate.id})}}" target="_blank">{{candidate.fname|capitalize}} {{candidate.lname|capitalize}} </a></div>
                            </div></td>

    <td class="border border-2 border-300 d-none">{{candidate.email}}</td>
 

  {% for cv in candidate.cv %}
    <td class="border border-2 border-300 text-center"><a class="text-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal{{candidate.id}}"><i class="fas fa-file"></i></td>
	{% endfor %}
	{% for modal in candidate.cv %}
     <div class="modal fade" id="modal{{modal.id}}" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg mt-6" role="document">
    <div class="modal-content border-0">
      <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base float-end" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body p-0">
        <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
          <h5 class="mb-1" id="staticBackdropLabel">Cv de {{candidate.fname|capitalize}}</h5>
        
        </div>
        <div class="">
          <div class="row">
          <iframe src="{{asset('cv/' ~modal.cv)}}"
 
                
                height="500">
        </iframe>
      
      
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} 



 <td class="border border-2 border-300 text-center">  {% for applications in candidate.applications|reverse|slice(0, 1) %}{{applications.appdate|date("d/m/Y")}} {% endfor %}</td>


 <td class="border border-2 border-300 text-center">

  {% for application in candidate.applications|slice(0,1) %}
  {% if application.status=='Traité' %}
    <span class="badge badge rounded-pill badge-soft-success">{{application.status}} <i class="fa fa-check"></i></span>
  {% elseif application.status=='En cours de Traitement' %}
  <span class="badge badge rounded-pill badge-soft-primary">En cours <i class="fa fa-spinner"></i><h6 class="badge-soft-primary">de Traitement</h6></span>
    {% else %}

     <span class="badge badge rounded-pill badge-soft-warning">Non Traité <i class="fa fa-false"></i></span>
    
    {% endif %}
    {% endfor %}



 </td>
   



    

{% endfor %}









</tfoot></table></div></div>
                   
              



           
{% endblock %}