{% extends 'layout.html.twig' %}

{% block body %}

   <div class="header-w bg-white" > </div>
      <div class=" page-wraper-glass">
         <div class=" page-content">
            <div class="content-block">
               <div class=" bg- browse-job p-t50 p-b20">
                  <div class="container">
                     <div class="row">
                        <div class="d-none d-lg-block col-xl-3 col-lg-4 m-b30 ">
                           <div class="sticky-top">
                              <div class="candidate-info bg-white radius-md">
                                 <div class="candidate-detail text-center ">
                                    <a class="upload-link" href="{{path('candidate_profile',{'id':app.user.id})}}#avatar" title="update" data-bs-toggle="tooltip" data-placement="right">
                                       <div class="canditate-des" >
                                          <center><img class=" canditate-des-img" src="{{asset('images/users/' ~app.user.image)}}"  alt="image"  /></center>
                                       </div>
                                    </a>

                                    <div class=" candidate-title">
                                       <div class="">
                                          <h4 class="m-b5">
                                             <a href="javascript:void(0);">
                                                <h4 class="mt-2 text-dark">{{app.user.fname}} {{app.user.lname}}</h4>
                                             </a>
                                          </h4>
                                         
                                       </div>
                                       <a class="btn btn-outline-primary rounded-pill btn-sm" href="{{ path('candidat_profil',{'id':app.user.id})}}">Voir profil</a>
                                    </div>
                                 </div>
                                 <div class="row navbar-vertical-label-wrapper " >
                                    <ul class="">
                                       <li>
                                          <a href="{{path('candidate_profile',{'id':app.user.id})}}" class="active">
                                             <span>
                                                <h6 class="fs-0 text-white fw-bold"><i class=" far fa-user" aria-hidden="true"></i> Profil</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('my_resume',{'id':app.user.id})}}">
                                             <span>
                                                <h6 class="fs-0"><i class="far fa-file-alt" aria-hidden="true"></i>  Mon CV En Ligne</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('my_applications',{'id':app.user.id})}}">
                                             <span>
                                                <h6 class="fs-0"><i class="fa fa-briefcase " aria-hidden="true"></i> Mes candidatures</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('my_cv',{'id':app.user.id})}}">
                                             <span>
                                                <h6 class="fs-0"><i class="far fa-id-card" aria-hidden="true"></i> Gérer CV</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('candidate_password',{'id':app.user.id})}}">
                                             <span>
                                                <h6 class="fs-0"><i class="fa fa-cog" aria-hidden="true"></i> Paramètres</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{path('app_logout')}}">
                                             <span>
                                                <h6 class="fs-0"> <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Déconnexion</h6>
                                             </span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 m-b30">
                           <div class="job-bx job-profile  bg-white ">
                              
                               {% for message in app.flashes('success') %}
                               
            <div class="text-center text-dark alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
                {% for message in app.flashes('error') %}
            <div class="text-center text-dark alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
                             {{form_start(form)}}
                              <div class="row m-b30">
                                 
                            
                               
                             
                          
                              <div class="job-bx-title clearfix" id="avatar" >
                                 <h4 class="mb-0">Photo de profil & couverture</h4>
                              </div>
                              <div class="row m-b10">
                              <div class=" text-center col-lg-6 col-md-12">
                                 <div class="form-group">
                                    <div class="fs-0"> Photo de profil </div>
                                        <div class="custom-file border border-dark">

                                         <i class="fas fa-upload"></i>
                                    <label>choisissez ou glissez ici<i></i></label>
                                    {{ form_widget(form.imagefield,{attr: {class: 'form-control '},id:'uploadfile' }) }} 
                                </div>
                                 </div>
                                
                       
                              </div>
                              <div class=" text-center col-lg-6 col-md-12">
                                 <div class="form-group">
                                    <div class="fs-0">Photo de couverture</div>
                                   <div class="custom-file border border-dark">

                                         <i class="fas fa-upload"></i>
                                    <label>choisissez ou glissez ici<i></i></label>
                                    {{ form_widget(form.coverfield,{attr: {class: 'form-control'},id:'uploadfile' }) }} 
                                </div>
                                 </div>
                               
                                </div>  
                              </div>
                              <div class="text-center">
                                 <button type="submit" name="Upload File" value="Upload File" id="upload_bt2" class="btn btn-primary rounded-pill btn-lg">Mettre à jour</button> 
                                  {{form_end(form)}}
                           </div>
                        </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>



<script>
$("#uploadfile").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings("#file_name").addClass("selected").html(fileName);
});


document.getElementById('upload_bt2').onclick = function (){
  var image=document.getElementById('uploadfile').value;
      if(image!=''){
        var checkimg = image.toLowerCase();
        if(!checkimg.match(/(\.jpg|\.png|\.JPG|\.PNG|\.jpeg|\.JPEG)$/)){
           alert("Please Select jpg,png File"); 
           document.getElementById('uploadfile').value="";
           document.getElementById('file_name').innerHTML="Choose file";exit;
        }
        var image=document.getElementById('uploadfile');
        var size = parseFloat(image.files[0].size / (1024 * 1024)).toFixed(2);
        if (size > 2){
            alert("Please Select Size Less Than 2 MB"); 
           document.getElementById('uploadfile').value="";
           document.getElementById('file_name').innerHTML="Choose file";exit; 
        } else {
            
        }
      }

}

</script>

{% endblock %}