{% extends 'layout.html.twig' %}



      
{% block body %}

 {% if app.user %}
      <meta http-equiv="refresh" content="1; url={{path('dashboard_page')}}">
        </div>
    {% else %}
    <div class="header-w bg-white" > </div>

<div class="row min-vh-100 bg-200">
          
          <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
            <div class="row justify-content-center g-0">
              <div class="col-lg-9 col-xl-8 col-xxl-6">
                <div class="card">
                    <div class="card-header bg-circle-shape bg-shape text-center p-2"><a class="font-sans-serif fw-bolder fs-3 z-index-1 position-relative link-light light" >Se connecter</a></div>
                 
                  <div class="card-body">
                   
              <form class="needs-validation "method="POST" novalidate="" >  
                                  
                                
                                <p class="text-center">Vous n’avez pas encore de compte ?,<span><a class="text-primary" href="{{path('signUp')}}"> Nous rejoindre </a></span></p>

                         {% for message in app.flashes('success') %}
            <div class="text-center text-dark alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
               
                                 <div  id="error"></div>

                                    <div class="form-group"> 
                               
                                 <input type="email" value="{{ last_username }}" name="email" placeholder="Adresse électronique" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
   
                                </div>
                                 <div class="form-group"> 
                              
                                 <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control" autocomplete="current-password" required>
 </div>
     <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
  








   <div class="row flex-between-center">
                        <div class="col-auto">
                           <div class="form-check">Rester connecté<input class="form-check-input bg-300" id="flexCheckIndeterminate" type="checkbox" /><label class="form-check-label" for="flexCheckIndeterminate" name="_remember_me"></label></div>
                        </div>
                        <div class="col-auto"><a class="fs--1" >Mot de passe oublié ?</a></div>
                      </div>
         {% if error %}
        <div class="text-danger text-center m-b10">E-mail ou Mot de passe incorrect</div>
    {% endif %}
                                <div class="text-center">
                                
                                    <button type="submit" " class="btn btn-primary rounded-pill w-100  m-t10">Se connecter
                                    </button>

                                  
                                   
                         
                                
                            </form>

                 
              
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

 {% endif %}
{% endblock %}



