{% extends 'layout.html.twig' %}



      
{% block body %}

 {% if app.user %}
      <meta http-equiv="refresh" content="1; url={{path('dashboard_page')}}">
        </div>
    {% else %}
    <div class="header-w bg-white" > </div>

<div class="row min-vh-100 bg-200">
          
          <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
            <div class="row justify-content-center g-0">
              <div class="col-lg-9 col-xl-8 col-xxl-6">
                <div class="card border-1">
                    <div class="text-center p-2 border-bottom"><a class="font-sans-serif fw-bolder fs-3 z-index-1 position-relative " >Inscription</a></div>
                 
                  <div class="card-body">
                   
          
                                    
                                
                                <p class="text-center">Si vous avez déjà un compte,<span><a class="text-primary" href="{{path('app_login')}}">identifiez-vous </a></span></p>
                       {{ form_start(form ,{attr: {class: 'needs-validation',novalidate:''}}) }}  
                         {% for message in app.flashes('success') %}
            <div class="text-center text-dark alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
                {% for message in app.flashes('error') %}
            <div class="text-center text-dark alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
                        <div class=" row gap-20 m-b20">
                           <div class="  ">
                            
                              {{ form_widget(form.lname,{attr: {class: 'form-control m-b20'}}) }}
                           </div>
                           <div class=" ">
                           
                              {{ form_widget(form.fname,{attr: {class: 'form-control m-b20'}}) }}
                           </div>
                           <div class=" ">
                            
                              {{ form_widget(form.email, {'attr': {class:'form-control m-b20','pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$'}}) }}
                           </div>
                           <div class=" m-b10">
                            
                               {{ form_widget(form.newpassword,{attr: {class: 'form-control ',pattern:'.{8,20}',placeholder:'Mot de passe : Min 8 et Max 20 caractères',required:'true'}}) }} 
                           </div>
                           <div class="fs-0 text-dark">CV<span class="text-600">(Taille Max: 2 MB /PDF,DOCX,DOC)</span> </div>
                           <div class=" ">
                              {{ form_widget(form.cvfield,{attr: {class: 'form-control'},required:true,id:'uploadfile' }) }} 
                           </div>
                        </div>
                        <div class="d-grid gap-2"><button class="btn btn-success w-100  m-t10" type="submit"  name="Upload File" value="Upload File" id="upload_btl">S'inscrire</button></div>
                        {{ form_end(form) }}







        
                         
                </div>
              </div>
            </div>
          </div>
        </div>
 {% endif %}
{% endblock %}



