{% extends 'layout.html.twig' %}



      
{% block body %}
       <div class="header-w bg-white" > </div>
       <div class="dez-bnr-inr overlay-black-dark m-b20" style="background-image:url(images/home-c.png); height:150px ">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                  <h3 class="font-weight-bold  display-5 text-center T-breadcrumb mb-3" >Candidature Spontanée</h3>
               <!-- Breadcrumb row -->
               <div class="breadcrumb-row">
               
               </div>
               <!-- Breadcrumb row END -->
                </div>
            </div>
        </div>


 <div class=" ">
      <div class="container">
         <div class="row "  >
            <div class="col-lg-9">
               <div class="card mb-3 bg-white border-1 border-dark">
                 <div  class="card-body"  >
                   
                      

                          {% for message in app.flashes('successSpontanee') %}

           <div class="alert alert-success alert-dismissible fade show text-center" role="alert"><span class="fas fa-check-circle text-primary fs-2 "></span>
   {{ message }}
  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
            {% endfor %}
         
                        {{ form_start(form2 ,{attr: {class:  'needs-validation',novalidate:'' }}) }}  
                        <div id="error3"></div>
                        <div class=" row gap-20 m-b30 ">
                           <div class="col-lg-6 m-b10 ">
                              <div class="fs-0">Nom</div>
                              {{ form_widget(form2.lname,{attr: {class: 'form-control',placeholder:'Entrez votre nom' ,maxlength:'30'}}) }}
                           </div>
                           <div class="col-lg-6 m-b10">
                              <div class="fs-0">Prénom</div>
                              {{ form_widget(form2.fname,{attr: {class: 'form-control' ,placeholder:'Entrez votre prénom' ,maxlength:'30'}} ) }}
                           </div>
                           <div class="col-lg-6 m-b10">
                              <div class="fs-0">Adresse E-mail</div>
                              {{ form_widget(form2.email, {'attr': {class: 'form-control','pattern': '[A-Z-a-z0-9.]+@[A-Z-a-z0-9.-]+\.[A-Z-a-z]{2,30}$',placeholder:'Entrez votre adresse électronique' ,maxlength:'40' }}) }}
                           </div>
                            <div class="col-lg-6 col-md-6 m-b10">
                          
                                 <div class="fs-0">Numéro de téléphone</div>
                                 <div class="card bg-white">
                           
                                 {{ form_widget(form2.phonecode,{attr: {class: 'd-none'},id:'address-country' }) }} 
                              {{ form_widget(form2.pcode,{attr: {class: ' d-none'},id:'address-country2' }) }} 
                                       {{ form_widget(form2.phone,{attr: {class: 'form-control ',pattern:'[0-9_ ]{7,12}'},id:'phone',type:'tel',maxlength:'12'  }) }} 
                              
                                 </div>
                   
                           </div>
                           <div class="col-lg-12 m-b10" >
                              <div class="fs-0 text-dark">CV<span class="text-600">(Taille Max: 2 MB /PDF,DOCX,DOC)</span> </div>
                              {{ form_widget(form2.cvfield,{attr: {class: 'form-control  '},id:'spontanee'}) }} 
                           </div>

                            <div class="col-lg-12 ">
                              <div class="fs-0">Lettre de motivation</div>
                              {{ form_widget(form2.about,{attr: {class: 'form-control  text-justify',style:'height:7rem',maxlength:'1999' } }) }} 
                           </div>
                        </div>

                      
                        <div class=""><button class="btn btn-success" name="spontanee_btn" id="spontanee_btn" type="submit">Déposer candidature </button></div>
                        {{ form_end(form2) }}
                     </div></div>
            </div>
            <div class="col-lg-3">
               <div class="">
                  <div class="candidates-are-sys m-b30 bg-white  border-1 border-dark">
                     <div class="candidates-bx ">
                        <div class="testimonial-pic radius "><img src="{{ asset('images/fondateur.jpg') }}" alt="" width="100" height="100"></div>
                        <div class="testimonial-text  ">
                           <p class=" text-dark">Nous sommes un centre spécialisé dans la transformation digitale notre priorité c’est de vous apporter un service IT de qualité auprès de nos clients et de notre société.</p>
                        </div>
                        <div class="testimonial-detail" > <strong class="fn text-primary">Firas Makni</strong> <span class="fn2">Fondateur,Tecos</span> </div>
                     </div>
                     <hr>
                     <div class="text-center">
                     <a class="btn btn-success " href="{{path('offres')}} "style="width:100%" >Offres d'emploi</a>
                  </div>
               </div>
              
               </div>
            </div>
         </div>
      </div>
   </div>
       
<script src="build/js/intlTelInput.js"></script>
  <script>
 
// International telephone format
// $("#phone").intlTelInput();
// get the country data from the plugin
var countryData = window.intlTelInputGlobals.getCountryData(),
  input = document.querySelector("#phone"),
  addressDropdown = document.querySelector("#address-country");
  addressDropdown2 = document.querySelector("#address-country2");


// init plugin

var iti = window.intlTelInput(input, { separateDialCode: true,autocomplete: "off",
   initialCountry: "fr",  
    geoIpLookup: function(callback) {
    $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
      var countryCode = (resp ) ? resp.country : "us";
      callback(countryCode);
    });
  },

  utilsScript: "https://intl-tel-input.com/node_modules/intl-tel-input/build/js/utils.js?1549804213570" // just for formatting/placeholders etc
});


// populate the country dropdown
for (var i = 0; i < countryData.length; i++) {
  var country = countryData[i];
  var optionNode = document.createElement("option");
  optionNode.value = country.iso2;
  var textNode = document.createTextNode(country.name);
  optionNode.appendChild(textNode);
  addressDropdown.appendChild(optionNode);
}
// set it's initial value
addressDropdown.value = iti.getSelectedCountryData().dialCode;

// listen to the telephone input for changes
input.addEventListener('countrychange', function(e) {
  addressDropdown.value = iti.getSelectedCountryData().dialCode;
});

addressDropdown2.value = iti.getSelectedCountryData().iso2;

// listen to the telephone input for changes
input.addEventListener('countrychange', function(e) {
  addressDropdown2.value = iti.getSelectedCountryData().iso2;
});

// listen to the address dropdown for changes
addressDropdown.addEventListener('change', function() {
  iti.setCountry(this.value);
});

// listen to the address dropdown for changes
addressDropdown2.addEventListener('change', function() {
  iti.setCountry(this.value);
});

  </script>
   <script>
      $("#spontanee").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings("#file_name").addClass("selected").html(fileName);
      });
      
      
      document.getElementById('spontanee_btn').onclick = function (){
        var image=document.getElementById('spontanee').value;
            if(image!=''){
              var checkimg = image.toLowerCase();
              if(!checkimg.match(/(\.pdf|\.doc|\.docx)$/)){
                 alert("Please Select pdf,doc,docx File"); 
                 document.getElementById('spontanee').value="";
                 document.getElementById('file_name').innerHTML="Choose file";exit;
              }
              var image=document.getElementById('spontanee');
              var size = parseFloat(image.files[0].size / (1024 * 1024)).toFixed(2);
              if (size > 2){
                  alert("Please Select Size Less Than 2 MB"); 
                 document.getElementById('spontanee').value="";
                 document.getElementById('file_name').innerHTML="Choose file";exit; 
              } else {
                
              }
            }
      
      }
      
   </script>

         {% endblock %}